.characterCard {
    padding: 1.5em 1em;
    width: 30em;
}

.characterContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

input {
    width: 3em !important;
    border: none;
}
