.characterCard {
    padding: 1.5em 1em;
    width: 28em;
}

.characterContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

// input {
//     width: 3em !important;
//     border: none;
// }
