.monsterCard {
    padding: 1.5em 1em;
    width: 30em;
}

.monsterContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

// .formContainer {
//     display: flex;
//     justify-content: center;
//     align-self: center;
//     width: 50em;
//     form{
//         width: 50em;
//     }
// }
