.card {
    margin: 1em 1.5em;
    .card-body{
        padding: .5em 1em;
    }
}

.character-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.monster-card {
    border: solid 7px #f21111;
}

.player-card {
    border: solid 7px #236af7;
}

i {
    margin-right: .5em;
}

.roomContainer {
    margin-left: 3em;
}
